
.App {
  text-align: center;
  height: 800px;
}

.App-header {
  background-color: #ffffff;
  height: 100px;
  padding: 10px;
  font-family: "museo_slab_500",serif;
  color: #404040;
}

.App-title {
  font-size: 1.5em;
  
  }

.App-intro {
  font-size: large;
  height: 564px;
}


.pink {
  background-image: 
    linear-gradient(
      rgba(255, 0, 255, 0.4),
      rgba(255, 0, 255, 0.4)
    ),
    url(choklad.jpg);
  background-size: cover;
  height: 564px;
  width: 375px;
  position: relative;
  float: left;
}

.transbox {
  margin: 30px ;
  background-color: #ffffff;
  opacity: 1;
  position: absolute;
}

.foreground {
  font-family: "museo_slab_500",serif;
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  margin: 20px 20px;
  opacity: 1;
  font-kerning: auto;
}

h1 {
  font-size: 2rem;
}

 p {
  font-size: 1.5rem;
}

.stad {
  font-size: 3rem;
  margin: 40px 0px;
  font-weight: bold;
  color: #ffffff;
}

.kommande {
  font-size: 2rem;
  padding: 10px;
  margin: 40px 0px;
  background-color: #ffffff;
  opacity: 1;
  color: #404040;
  border-radius: 1rem;
}
