.App {
  text-align: center;
  height: 530px;
  

}

  /*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #ffffff;
  height: 150px;
  padding: 20px;
  font-family: "museo-slab-1","museo-slab-2",serif;
  color: #404040;
}

.App-title {
  font-size: 1.5em;
  
  }

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

