
.App {
  text-align: center;
  height: 700px;
  width: 100;
}

.App-header {
  background-color: #ffffff;
  height: 100px;
  width: auto;
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
  
  }

.App-intro {
  height: 564px;
}


.App, .MadamilensList {
  background: 
    linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(133, 133, 134, 0.6)
    ),
    url(champagne.jpg) no-repeat center fixed;
  background-size: cover;
}

.transbox {
  margin: 0px 0px 0px 40px ;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  padding: 20px;
}

.foreground {
  font-family: 'Rokkitt',serif;
  color: #404040;
  align-items: center;
  margin: 20px 20px;
  opacity: 1;
  font-kerning: auto;
}

h1 {
  font-size: 2rem;
}

 p {
  font-size: 1.8rem;
}

.infowindowtext {
  font-size: 1rem;
}

.stad{
  border:0.8px;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: antiquewhite;
  opacity: 0.8;
}
 h1{
  font-size: 2.5rem;
  margin: 10px 0px 10px 0px;
  font: weight 700;
  color: #404040;
  font-family: 'Rokkitt',serif;
  
}

.prickar{
  margin: 20px 0px 20px 0px 
}

.kommande {
  font-family: 'Rokkitt',serif;
  font-size: 2rem;
  padding: 5px;
  margin: 0px 0px;
  color: #404040;
  opacity: 1;
  border:0.8px;
  border-radius: 1rem;
  box-sizing: border-box;
  position: relative; 
  background-color: antiquewhite;
  opacity: 0.8;
}


.MadamilensList ul{
  background: #ffffff;
  padding: 30px;
  margin: 0px 50px;
  opacity: 0.7;
}


.RestaurantList ul{
  background: #ffffff;
  list-style: none;
  width: 290px;
  height: auto;
  padding: 20px;
  margin: 400px 0px 0px 0px;
  opacity: 0.9;
  font-kerning: auto;
}

.RestaurantList ul li a {
  color: #404040;

}

div.customContainer{
  margin: 0px;
  display: inline;
  
}


.MadamilensList li {
  font-size: 2rem;
  position: relative;
  align-content: center;
  list-style-image: url('map_marker_ball_pink_icon.png');

}

.RestaurantInfo{
  text-align: center;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  bottom:0;
  width: 100%;
  height: 3rem;
  
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #ff00ff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 2rem;

}

